Repository bobocode-breskul/bring, pull requests merged in 2023-11, with the labels that each got.

#22 Spike Definition object for class #2
  src/main/java/io/github/bobocodebreskul/Main.java
  src/main/java/io/github/bobocodebreskul/context/config/AnnotatedGenericBeanDefinition.java
  src/main/java/io/github/bobocodebreskul/context/config/BeanDefinition.java
  src/main/java/io/github/bobocodebreskul/context/config/GenericBeanDefinition.java
  src/main/java/io/github/bobocodebreskul/context/exception/NoSuchBeanDefinitionException.java
  src/main/java/io/github/bobocodebreskul/context/registry/AliasRegistry.java
  src/main/java/io/github/bobocodebreskul/context/registry/AnnotatedBeanDefinitionReader.java
  src/main/java/io/github/bobocodebreskul/context/registry/BeanDefinitionRegistry.java
  src/main/java/io/github/bobocodebreskul/context/registry/SimpleBeanDefinitionRegistry.java
  src/main/java/io/github/bobocodebreskul/context/support/BeanDefinitionReaderUtils.java
Labels: Bean Definition

#30 Add logging library#25
  pom.xml
  src/main/resources/logback.xml
  src/test/resources/logback-test.xml
Labels: Logging

#50 Implement AnnotatedBeanDefinitionReader, BeanDefinitionReaderUtils, BeanDefinition (#19) (#20) (#21)
  pom.xml
  src/main/java/io/github/bobocodebreskul/context/annotations/Autowired.java
  src/main/java/io/github/bobocodebreskul/context/annotations/Primary.java
  src/main/java/io/github/bobocodebreskul/context/config/AnnotatedGenericBeanDefinition.java
  src/main/java/io/github/bobocodebreskul/context/config/BeanDefinition.java
  src/main/java/io/github/bobocodebreskul/context/config/GenericBeanDefinition.java
  src/main/java/io/github/bobocodebreskul/context/exception/DuplicateBeanDefinitionException.java
  src/main/java/io/github/bobocodebreskul/context/registry/AnnotatedBeanDefinitionReader.java
  src/main/java/io/github/bobocodebreskul/context/registry/BeanDefinitionRegistry.java
  src/main/java/io/github/bobocodebreskul/context/registry/SimpleBeanDefinitionRegistry.java
  src/main/java/io/github/bobocodebreskul/context/support/BeanDefinitionReaderUtils.java
  src/main/java/io/github/bobocodebreskul/context/support/ReflectionUtils.java
  src/test/java/io/github/bobocodebreskul/context/registry/AnnotatedBeanDefinitionReaderTest.java
  src/test/java/io/github/bobocodebreskul/context/scan/utils/ScanUtilsImplTest.java
  src/test/java/io/github/bobocodebreskul/context/support/BeanDefinitionReaderUtilsTest.java
  src/test/java/io/github/bobocodebreskul/context/support/test/data/MyComponent.java
Labels: Bean Definition

#82 Implement the logic for bean constructor validation and getting appropriate init constructor
  pom.xml
  src/main/java/io/github/bobocodebreskul/context/config/BeanDefinition.java
  src/main/java/io/github/bobocodebreskul/context/config/GenericBeanDefinition.java
  src/main/java/io/github/bobocodebreskul/context/registry/AnnotatedBeanDefinitionReader.java
  src/main/java/io/github/bobocodebreskul/context/registry/BringContainer.java
  src/main/java/io/github/bobocodebreskul/context/support/BeanDefinitionReaderUtils.java
  src/main/java/io/github/bobocodebreskul/context/support/ReflectionUtils.java
  src/test/java/io/github/bobocodebreskul/context/registry/AnnotatedBeanDefinitionReaderTest.java
  src/test/java/io/github/bobocodebreskul/context/registry/BringContainerTest.java
  src/test/java/io/github/bobocodebreskul/context/support/BeanDefinitionReaderUtilsTest.java
  src/test/java/io/github/bobocodebreskul/context/support/ReflectionUtilsTest.java
Labels: Bean Definition

#79 us #65 get bean name from component annotation
  src/main/java/io/github/bobocodebreskul/context/registry/AnnotatedBeanDefinitionReader.java
  src/main/java/io/github/bobocodebreskul/context/registry/BringContainer.java
  src/main/java/io/github/bobocodebreskul/context/scan/utils/ScanUtils.java
  src/main/java/io/github/bobocodebreskul/context/scan/utils/ScanUtilsImpl.java
  src/main/java/io/github/bobocodebreskul/context/support/ReflectionUtils.java
  src/test/java/io/github/bobocodebreskul/context/registry/AnnotatedBeanDefinitionReaderTest.java
  src/test/java/io/github/bobocodebreskul/context/registry/BringContainerTest.java
  src/test/java/io/github/bobocodebreskul/context/support/ReflectionUtilsTest.java
Labels: Bean Definition

#86 us #84 filter annotation.
  src/main/java/io/github/bobocodebreskul/context/scan/RecursiveClassPathAnnotatedBeanScanner.java
  src/test/java/io/github/bobocodebreskul/context/scan/RecursiveClassPathAnnotatedBeanScannerTest.java
  src/test/java/io/github/bobocodebreskul/context/scan/utils/scantestsclasses/annotations/TestAnnotationWithBringComponent.java
Labels: bug, Bean Definition
